<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,100,300|Oswald:400|Roboto:400|Poppins:400|GFS+Didot:400|Open+Sans:400|Anton:400|Playfair+Display:400|Bree+Serif:400|Droid+Serif:400|Mrs+Saint+Delafield:400|Rubik:400|Tinos:400|Archivo+Narrow:400|Rochester:400|Raleway:400|Permanent+Marker:400|Rozha+One:400|Lobster+Two:400|Roboto+Condensed:400|Montserrat:400|Nunito:400|Sue+Ellen+Francisco:400|PT+Serif:400"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.3.3/css/main-style.css?t=2019-09-19-14"><link rel="stylesheet" href="{{ 'pagefly.f0955174.scss.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	
	</script><div class="__pf" id="__pf"><div class="pf-721639b8 sc-eerKOB eFhTIp" data-pf-type="Body"><div class="pf-10f04f9b" data-pf-type="Layout"><div data-container="true" class="pf-e2522cfa sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-b6fdbb18 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9ace8cf7 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-594cd482 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-41249698 sc-iQtOjA bUByoE" data-pf-type="Text"><br>STOCKISTS</span></h3></div></div></div></div></div><div data-container="true" class="pf-3ea25f34 sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-dec933e5 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-2fdeb0a3 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-54348a7b sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-94b2a3ac sc-iQtOjA bUByoE" data-pf-type="Text">UNITED STATES</span></h3><ul class="pf-583f3bef sc-jeCdPy eKVNgj" data-pf-type="List"><li class="pf-616aab46 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-e9c456a0 sc-iQtOjA bUByoE" data-pf-type="Text">4510/SIX<br>
1608 Elm Street<br>
Dallas, TX 75201<br>
T + 214 559 4510<br>
https://fortyfiveten.com/4510-six</span></li><li class="pf-c4e9ab3d animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-1573db70 sc-iQtOjA bUByoE" data-pf-type="Text">4510/SIX<br>
20 Hudson Yards<br>
New York, NY 10001<br>
T + (917) 970-4510<br>
https://fortyfiveten.com/4510-six</span></li><li data-href="http://www.alltoohumanboston.com" data-target="_self" class="pf-07693254 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-a9354856 sc-iQtOjA bUByoE" data-pf-type="Text">ALL TOO HUMAN<br>236 Clarendon Street<br>Boston, MA 02116<br>T + 857 350-3951<br>www.alltoohumanboston.com<br></span></li><li class="pf-b760bcca animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-70c779be sc-iQtOjA bUByoE" data-pf-type="Text">HAMPDEN CLOTHING<br>
314 King Street<br>
Charleston, SC<br>
T + 843 724 6373
www.hampdenclothing.com</span></li><li class="pf-0d2a3f82 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-e54ec586 sc-iQtOjA bUByoE" data-pf-type="Text">NEIMAN MARCUS<br>
Various Locations<br>
www.neimanmarcus.com</span></li><li class="pf-e7f456d1 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-fcf9c9b8 sc-iQtOjA bUByoE" data-pf-type="Text">MARISSA COLLECTIONS&nbsp;<br>1167 3rd St S<br>Naples, FL 34102<br>www.marissacollections.com</span></li><li class="pf-32bdbcb6 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-3a2be99c sc-iQtOjA bUByoE" data-pf-type="Text">VERMILLION<br>
4321 Lassiter at North Hills Ave<br>
Raleigh, NC 27609<br>
T + (919) 787-9780<br>
www.vermillionstyle.com</span></li><li class="pf-4ec5e85f animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-2cd09102 sc-iQtOjA bUByoE" data-pf-type="Text">THE WEBSTER<br>
1220 Collins Avenue<br>
Miami Beach, FL<br>
T + 305 674 7899<br>
www.thewebster.us</span></li><li class="pf-1e591ab7 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-dd43c2e1 sc-iQtOjA bUByoE" data-pf-type="Text">THE WEBSTER<br>
29 Greene Street<br>
New York, 10013<br>
T + (212) 226-1260<br>
www.thewebster.us</span></li></ul></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--2 pf-c-lg--3" style="padding: 15px;"><div class="pf-c1d31c82 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-b4569a3b sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-9857058e sc-iQtOjA bUByoE" data-pf-type="Text">EUROPE</span></h3><ul class="pf-6cc06546 sc-jeCdPy eKVNgj" data-pf-type="List"><li class="pf-accd94cb animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-7917f8d3 sc-iQtOjA bUByoE" data-pf-type="Text">BROWNS BRIDE<br>
12 Hinde Street<br>
London, England<br>
T + 020 7034 1400<br>
http://www.brownsfashion.com/bride</span></li><li class="pf-32186648 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-3fe9a3f1 sc-iQtOjA bUByoE" data-pf-type="Text">GALERIES LAFAYETTE CHAMPS ELYSEES<br>
60 Av. des Champs-Élysées<br>
75008 Paris, France<br>
T + 33 1 83 65 61 00<br>
www.galerieslafayettechampselysees.com</span></li><li class="pf-1f501662 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-c13e499b sc-iQtOjA bUByoE" data-pf-type="Text">TASONI<br>
Gotthardstrasse 4<br>
6490 Andermatt<br>
Switzerland<br>
T +41 41 888 74 74<br>
http://www.tasoni.com</span></li></ul></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-37667ebd sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-b4f9e70c sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-7e52d423 sc-iQtOjA bUByoE" data-pf-type="Text">ASIA </span></h3><ul class="pf-a0831818 sc-jeCdPy eKVNgj" data-pf-type="List"><li class="pf-b36902ca animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-8968d259 sc-iQtOjA bUByoE" data-pf-type="Text">ESTNATION<br>
106-0032 Tokyo,<br>
Minato City, Roppongi<br>
T + 81 120-503-971<br>
https://www.estnation.co.jp</span></li><li class="pf-f433a7ca animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-1d19c9a2 sc-iQtOjA bUByoE" data-pf-type="Text">LANE CRAWFORD<br>
Times Square Hong Kong<br>
1 Matheson Street, Causeway Bay
Hong Kong<br>
T + 852 2118 2288<br>
http://www.lanecrawford.com</span></li><li class="pf-26a5eca9 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-3f9b9c7f sc-iQtOjA bUByoE" data-pf-type="Text">SKP<br>
87 Jianguo Rd, Chaoyang, Beijing, China<br>
T + 86 10 6530 5888<br>
www.skp-beijing.com</span></li></ul></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-cd07ae7d sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-810daee6 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-99be4509 sc-iQtOjA bUByoE" data-pf-type="Text">ONLINE </span></h3><ul class="pf-6508a86a sc-jeCdPy eKVNgj" data-pf-type="List"><li data-href="https://www.modaoperandi.com/women" data-target="_self" class="pf-a8d3a8cb animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-fca7173f sc-iQtOjA bUByoE" data-pf-type="Text">MODA OPERANDI
www.modaoperandi.com</span></li><li data-href="https://www.neimanmarcus.com" data-target="_self" class="pf-fa1122bb animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-7ffdda5a sc-iQtOjA bUByoE" data-pf-type="Text">NEIMAN MARCUS <br>
www.neimanmarcus.com</span></li><li data-href="https://www.net-a-porter.com/us/en/" data-target="_self" class="pf-59fea904 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-7163beba sc-iQtOjA bUByoE" data-pf-type="Text">NET A PORTER <br>
www.netaporter.com</span></li></ul></div></div></div><div class="pf-2f7c7177 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-b46f720c sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-8b87c56d sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-5d9eaf3f sc-iQtOjA bUByoE" data-pf-type="Text">MIDDLE EAST</span></h3><ul class="pf-148d7356 sc-jeCdPy eKVNgj" data-pf-type="List"><li class="pf-e25cb532 animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-7f02b4d4 sc-iQtOjA bUByoE" data-pf-type="Text">BOUTIQUE N<br>
Burj Jassim, Alsoor Street, Kuwait City<br>
T +965 2 296 0910<br></span></li></ul></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-aec22b22 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-3bf2b3f8 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-e5ca4f6e sc-iQtOjA bUByoE" data-pf-type="Text">MEXICO </span></h3><ul class="pf-153a2aee sc-jeCdPy eKVNgj" data-pf-type="List"><li data-href="http://www.thefeathered.com/" data-target="_self" class="pf-0d98d15d animate-float sc-hzDEsm gyqnzw" data-pf-type="List.Item"><span class="pf-450adfba sc-iQtOjA bUByoE" data-pf-type="Text">THE FEATHERED<br>
Av. Emilio Castelar 22, Polanco<br>
Mexico City, Mexico<br>
T + 52 55 5929 9150<br>
www.thefeathered.com</span></li></ul></div></div></div><div class="pf-b7cfb932 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-a624fcf3 sc-jXQZqI lgliwA" data-pf-type="Column"><ul class="pf-c11c8409 sc-jeCdPy eKVNgj" data-pf-type="List"></ul></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--2 pf-c-lg--3" style="padding: 15px;"><div class="pf-cb222a62 sc-jXQZqI lgliwA" data-pf-type="Column"><ul class="pf-94700fd9 sc-jeCdPy eKVNgj" data-pf-type="List"></ul></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-047ea452 sc-jXQZqI lgliwA" data-pf-type="Column"><ul class="pf-3fd1e194 sc-jeCdPy eKVNgj" data-pf-type="List"></ul></div></div></div><div class="pf-e1bf0928 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-377e78df sc-jXQZqI lgliwA" data-pf-type="Column"><ul class="pf-b6c7efad sc-jeCdPy eKVNgj" data-pf-type="List"></ul></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-b50cac46 sc-jXQZqI lgliwA" data-pf-type="Column"><ul class="pf-b32eae48 sc-jeCdPy eKVNgj" data-pf-type="List"></ul></div></div></div><div class="pf-9f98f9ec pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-8f77fcf2 sc-jXQZqI lgliwA" data-pf-type="Column"><ul class="pf-78a5ce68 sc-jeCdPy eKVNgj" data-pf-type="List"></ul></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-023c6103 sc-jXQZqI lgliwA" data-pf-type="Column"><ul class="pf-9e66888b sc-jeCdPy eKVNgj" data-pf-type="List"></ul></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.3.3","moneyFormat":"{{shop.money_format}}","elementData":{},"pageId":"f0955174-05fc-4c15-b4db-e876405734c9","lazyLoad":false};
				</script><script src="https://cdn.pagefly.io/pagefly/2.3.3/core/helper.js?t=2019-09-19-14" defer></script>