<link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Poppins:400|GFS+Didot:400|Open+Sans:400|Anton:400|Playfair+Display:400|Bree+Serif:400|Droid+Serif:400|Mrs+Saint+Delafield:400|Rubik:400|Tinos:400|Archivo+Narrow:400|Rochester:400|Raleway:400|Permanent+Marker:400|Rozha+One:400|Lobster+Two:400|Roboto+Condensed:400|Montserrat:400|Nunito:400|Sue+Ellen+Francisco:400|PT+Serif:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Poppins:400|GFS+Didot:400|Open+Sans:400|Anton:400|Playfair+Display:400|Bree+Serif:400|Droid+Serif:400|Mrs+Saint+Delafield:400|Rubik:400|Tinos:400|Archivo+Narrow:400|Rochester:400|Raleway:400|Permanent+Marker:400|Rozha+One:400|Lobster+Two:400|Roboto+Condensed:400|Montserrat:400|Nunito:400|Sue+Ellen+Francisco:400|PT+Serif:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-03-17" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/animation-style.css?t=2019-04-03-17"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-03-17" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.2/css/main-style.css?t=2019-04-03-17"></noscript><style>
					/* PageFly Element Styles */
					.IoliW__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.IoliW { padding: 15px 0px; position: relative; }
.IoliW .sc-eLExRp { position: relative; }
.IoliW[data-container="true"] .sc-eLExRp { padding: 0px 15px; width: 100%; margin: auto; }
.IoliW .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.iUdgQL { margin: 0px -15px; }
.efhDmd { position: relative; }
.efhDmd.pf-editor-col::before, .efhDmd.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.efhDmd.pf-editor-col::before { left: -10px; }
.efhDmd.pf-editor-col::after { right: -10px; }
.huQPUn { margin: 0px 0px 15px; }
.huQPUn > a { color: inherit !important; }
.huQPUn > span { font-weight: inherit; text-decoration: inherit; }
.huQPUn { word-break: break-word; }
.huQPUn.pf-i--left i { margin-right: 0.3em; }
.huQPUn.pf-i--right i { margin-left: 0.3em; }
.huQPUn.pf-i--top i { margin-bottom: 0.5em; }
.huQPUn.pf-i--top > span, .huQPUn.pf-i--top > a { display: block; }
.huQPUn.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.huQPUn [class*="--diamond"] { margin-right: 1em; }
.dWevfJ { display: inline-block; }
.dWevfJ { vertical-align: baseline; word-break: break-word; }
.dWevfJ:focus { outline: none; }
.gOBpdh.gOBpdh { position: relative; display: list-item; padding: 0.214286em 0px; line-height: 1.7; list-style: inherit; }
.gOBpdh > i { margin-right: 5px; }
.gOBpdh > * { display: inline; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Heading"].pf-44ae4c74 {
		font-size: 55px;
		 font-family: "Sue Ellen Francisco";
		 margin: 0px;
		 display: inline-block;
		 background-color: rgba(255, 255, 255, 0.9);
		 padding: 0px 20px;
	}
	[data-pf-type="Block"].pf-ba984cfc {
		text-align: center;
	}
	[data-pf-type="Row"].pf-68e43d60 {
		margin: 0px;
	}
	[data-pf-type="Section"].pf-a9d0165a {
		padding: 290px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/hero-bannerpng-1519460243184.png");
		 background-position: center center;
		 text-align: right;
		 margin-bottom: 60px;
	}
	[data-pf-type="Button"].pf-04c23778 {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 18px;
		 color: rgb(45, 45, 45);
		 background-color: rgba(255, 255, 255, 0.9);
		 width: 115px;
	}
	[data-pf-type="Button"].pf-04c23778:hover {
		width: 115px;
		 font-family: "Sue Ellen Francisco";
		 font-weight: 400;
		 background-color: white;
	}
	[data-pf-type="Column"].pf-f034bdd2 {
		background-image: url("https://media.pagefly.io/file/get/dean--danjpg-1525664605400.jpg");
		 background-position: center center;
		 background-size: cover;
		 padding: 120px 0px;
		 text-align: center;
	}
	[data-pf-type="Button"].pf-242f4cb2 {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 18px;
		 color: rgb(45, 45, 45);
		 background-color: rgba(255, 255, 255, 0.9);
		 width: 115px;
	}
	[data-pf-type="Button"].pf-242f4cb2:hover {
		background-color: white;
	}
	[data-pf-type="Column"].pf-8bd9807f {
		background-position: center center;
		 background-size: cover;
		 background-image: url("https://media.pagefly.io/file/get/kenzojpg-1525664638545.jpg");
		 padding: 120px 0px;
		 text-align: center;
	}
	[data-pf-type="Button"].pf-3a756c1d {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 18px;
		 color: rgb(45, 45, 45);
		 background-color: rgba(255, 255, 255, 0.9);
		 width: 115px;
	}
	[data-pf-type="Button"].pf-3a756c1d:hover {
		background-color: white;
	}
	[data-pf-type="Column"].pf-826a88db {
		background-position: center center;
		 background-size: cover;
		 background-image: url("https://media.pagefly.io/file/get/valenciajpg-1525664653131.jpg");
		 padding: 120px 0px;
		 text-align: center;
	}
	[data-pf-type="Button"].pf-f6881728 {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 18px;
		 color: rgb(45, 45, 45);
		 background-color: rgba(255, 255, 255, 0.9);
		 width: 115px;
	}
	[data-pf-type="Button"].pf-f6881728:hover {
		background-color: white;
	}
	[data-pf-type="Column"].pf-649a1435 {
		background-position: center center;
		 background-size: cover;
		 background-image: url("https://media.pagefly.io/file/get/tommyjpg-1525664674488.jpg");
		 padding: 120px 0px;
		 text-align: center;
	}
	[data-pf-type="Section"].pf-e2522cfa {
		margin-bottom: 30px;
		 padding: 0px;
	}
	[data-pf-type="Heading"].pf-1484d0d6 {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 24px;
		 color: rgb(165, 116, 83);
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 margin: 0px 0px 10px;
		 padding: 0px 0px 10px;
	}
	[data-pf-type="List"].pf-a6221f88 {
		padding: 0px;
		 margin: 0px;
		 font-size: 18px;
		 font-family: Lato;
		 list-style-position: inside;
		 list-style-type: disc;
	}
	[data-pf-type="Column"].pf-e49e977c {
		font-size: 18px;
		 font-family: Lato;
	}
	[data-pf-type="Heading"].pf-9e38d4ed {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 24px;
		 color: rgb(165, 116, 83);
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 margin: 0px 0px 10px;
		 padding: 0px 0px 10px;
	}
	[data-pf-type="List"].pf-6cc06546 {
		padding: 0px;
		 margin: 0px;
		 font-size: 18px;
		 font-family: Lato;
		 list-style-position: inside;
		 list-style-type: disc;
	}
	[data-pf-type="Column"].pf-c1d31c82 {
		font-size: 18px;
		 font-family: Lato;
	}
	[data-pf-type="Heading"].pf-30bfd4e0 {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 24px;
		 color: rgb(165, 116, 83);
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 margin: 0px 0px 10px;
		 padding: 0px 0px 10px;
	}
	[data-pf-type="List"].pf-2e090dfc {
		padding: 0px;
		 margin: 0px;
		 list-style-position: inside;
		 list-style-type: disc;
	}
	[data-pf-type="Column"].pf-177a9fbb {
		font-size: 18px;
		 font-family: Lato;
	}
	[data-pf-type="Heading"].pf-b4f9e70c {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 24px;
		 color: rgb(165, 116, 83);
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 margin: 0px 0px 10px;
		 padding: 0px 0px 10px;
	}
	[data-pf-type="List"].pf-a0831818 {
		margin: 0px;
		 padding: 0px;
		 list-style-position: inside;
		 list-style-type: disc;
	}
	[data-pf-type="Column"].pf-37667ebd {
		font-size: 18px;
		 font-family: Lato;
	}
	[data-pf-type="Row"].pf-dec933e5 {
		margin: 0px -15px;
	}
	[data-pf-type="Heading"].pf-8ae383bc {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 24px;
		 color: rgb(165, 116, 83);
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 margin: 0px 0px 10px;
		 padding: 0px 0px 10px;
	}
	[data-pf-type="List"].pf-b87a761b {
		padding: 0px;
		 margin: 0px;
		 font-size: 18px;
		 font-family: Lato;
		 list-style-position: inside;
		 list-style-type: disc;
	}
	[data-pf-type="Column"].pf-78445b7a {
		font-size: 18px;
		 font-family: Lato;
	}
	[data-pf-type="Heading"].pf-7deae4f7 {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 24px;
		 color: rgb(165, 116, 83);
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 margin: 0px 0px 10px;
		 padding: 0px 0px 10px;
	}
	[data-pf-type="List"].pf-b6c7efad {
		padding: 0px;
		 margin: 0px;
		 font-size: 18px;
		 font-family: Lato;
		 list-style-position: inside;
		 list-style-type: disc;
	}
	[data-pf-type="Column"].pf-377e78df {
		font-size: 18px;
		 font-family: Lato;
	}
	[data-pf-type="Heading"].pf-4d2d9307 {
		font-family: "Sue Ellen Francisco";
		 text-transform: uppercase;
		 font-size: 24px;
		 color: rgb(165, 116, 83);
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 margin: 0px 0px 10px;
		 padding: 0px 0px 10px;
	}
	[data-pf-type="List"].pf-b32eae48 {
		padding: 0px;
		 margin: 0px;
		 list-style-position: inside;
		 list-style-type: disc;
	}
	[data-pf-type="Column"].pf-b50cac46 {
		font-size: 18px;
		 font-family: Lato;
	}
	[data-pf-type="Column"].pf-d26a6482 {
		font-size: 18px;
		 font-family: Lato;
	}
	[data-pf-type="Row"].pf-e1bf0928 {
		margin: 0px -15px;
	}
	[data-pf-type="Section"].pf-3ea25f34 {
		margin: 0px 0px 50px;
		 padding: 0px;
	}
	[data-pf-type="Heading"].pf-dc7a7611 {
		text-align: center;
		 color: white;
		 font-family: "Sue Ellen Francisco";
		 font-size: 50px;
		 margin: 0px;
	}
	[data-pf-type="Row"].pf-3af58854 {
		margin: 0px;
	}
	[data-pf-type="Section"].pf-5ff31d8a {
		background-image: url("https://media.pagefly.io/file/get/bottom-bgpng-1519461169446.png");
		 padding: 130px 0px;
		 background-size: cover;
	}
	[data-pf-type="Heading"].pf-594cd482 {
		text-align: center;
	}
	[data-pf-type="List.Item"].pf-a9b857cd {
		font-family: "PT Serif";
	}
}
@media only screen and (max-width: 767px) {
	[data-pf-type="Heading"].pf-44ae4c74 {
		font-size: 48px;
	}
	[data-pf-type="Section"].pf-a9d0165a {
		padding-top: 200px;
		 padding-bottom: 200px;
	}
	[data-pf-type="Column"].pf-f034bdd2 {
		padding-top: 150px;
		 padding-bottom: 150px;
	}
	[data-pf-type="Column"].pf-8bd9807f {
		padding-top: 150px;
		 padding-bottom: 150px;
	}
	[data-pf-type="Column"].pf-826a88db {
		padding-top: 150px;
		 padding-bottom: 150px;
	}
	[data-pf-type="Column"].pf-649a1435 {
		padding-top: 150px;
		 padding-bottom: 150px;
	}
	[data-pf-type="Heading"].pf-dc7a7611 {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
	[data-pf-type="Section"].pf-5ff31d8a {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	[data-pf-type="Column"].pf-f034bdd2 {
		padding: 150px 0px;
	}
	[data-pf-type="Column"].pf-8bd9807f {
		padding: 150px 0px;
	}
	[data-pf-type="Column"].pf-826a88db {
		padding: 150px 0px;
	}
	[data-pf-type="Column"].pf-649a1435 {
		padding: 150px 0px;
	}
	[data-pf-type="Section"].pf-5ff31d8a {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><div class="__pf" id="__pf"><div class="pf-721639b8 sc-kTUwUJ ljwnSF" data-pf-type="Body"><div class="pf-10f04f9b sc-GMQeP jXMCGy" data-pf-type="Layout"><div data-container="true" class="pf-e2522cfa sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-b6fdbb18 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9ace8cf7 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-594cd482 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-41249698 sc-hGoxap dWevfJ" data-pf-type="Text"><br>STOCKISTS</span></h3></div> </div></div></div></div><div data-container="true" class="pf-3ea25f34 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-dec933e5 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-e49e977c sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-aba09ccd sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-868b5466 sc-hGoxap dWevfJ" data-pf-type="Text">UNITED STATES</span></h3><ul class="pf-a6221f88 sc-fYiAbW iFAVee" data-pf-type="List"><li data-target="_self" class="pf-ccebed14 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-1fdf53b3 sc-hGoxap dWevfJ" data-pf-type="Text">UNITED STATES<br></span></li><li data-target="_self" class="pf-a9b857cd animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-68c3cad0 sc-hGoxap dWevfJ" data-pf-type="Text">Storets<br></span></li><li data-target="_self" class="pf-c3e2ac26 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-d85ebb95 sc-hGoxap dWevfJ" data-pf-type="Text">H&M<br></span></li><li data-target="_self" class="pf-aa3559b0 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-de90003e sc-hGoxap dWevfJ" data-pf-type="Text">Uniqlo<br></span></li><li data-target="_self" class="pf-ef3663eb animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-331ce02b sc-hGoxap dWevfJ" data-pf-type="Text">& Other Stories<br></span></li><li data-target="_self" class="pf-7950712c animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-a9635bfd sc-hGoxap dWevfJ" data-pf-type="Text">River Island<br></span></li><li data-target="_self" class="pf-63595a62 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-f69840c2 sc-hGoxap dWevfJ" data-pf-type="Text">Dorothy Perkins<br></span></li><li data-target="_self" class="pf-4b9419a2 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-ed54a9e6 sc-hGoxap dWevfJ" data-pf-type="Text">Forever 21<br></span></li><li data-target="_self" class="pf-2cb3ae66 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-678f36f5 sc-hGoxap dWevfJ" data-pf-type="Text">Free People<br></span></li><li data-target="_self" class="pf-80f2d59d animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-ca84ef69 sc-hGoxap dWevfJ" data-pf-type="Text">Zara</span></li></ul></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-c1d31c82 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-9e38d4ed sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-8bda74a8 sc-hGoxap dWevfJ" data-pf-type="Text">EVERYDAY LUXURY (<10"ITC Stone Serif",serif;0$)</span></h3><ul class="pf-6cc06546 sc-fYiAbW iFAVee" data-pf-type="List"><li data-target="_self" class="pf-7e0aa4a2 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-070ae1cf sc-hGoxap dWevfJ" data-pf-type="Text">Carrera<br></span></li><li data-target="_self" class="pf-91dea179 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-bf565133 sc-hGoxap dWevfJ" data-pf-type="Text">Cartier<br></span></li><li data-target="_self" class="pf-f26ff746 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-6ab68cb4 sc-hGoxap dWevfJ" data-pf-type="Text">Dean and Dan Caten<br></span></li><li data-target="_self" class="pf-04bed548 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-cfac2298 sc-hGoxap dWevfJ" data-pf-type="Text">Celine<br></span></li><li data-target="_self" class="pf-e0fb2a9a animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-524ab15c sc-hGoxap dWevfJ" data-pf-type="Text">Cerruti<br></span></li><li data-target="_self" class="pf-4d557aeb animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-53255762 sc-hGoxap dWevfJ" data-pf-type="Text">Hussein Chalayan<br></span></li><li data-target="_self" class="pf-ac27857a animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-6801ac41 sc-hGoxap dWevfJ" data-pf-type="Text">Channel<br></span></li><li data-target="_self" class="pf-16420094 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-f58319c6 sc-hGoxap dWevfJ" data-pf-type="Text">Cloe<br></span></li><li data-target="_self" class="pf-ff98652e animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-f9777d97 sc-hGoxap dWevfJ" data-pf-type="Text">Christian Dior<br></span></li><li data-target="_self" class="pf-0a3ca5f5 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-24e166d4 sc-hGoxap dWevfJ" data-pf-type="Text">Matthew Christopher<br></span></li><li data-target="_self" class="pf-66980c5a animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-59fb0665 sc-hGoxap dWevfJ" data-pf-type="Text">Burberry</span></li></ul></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-177a9fbb sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-30bfd4e0 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-4841ad34 sc-hGoxap dWevfJ" data-pf-type="Text">AFFORTDABLE LUXURY (<300$)</span></h3><ul class="pf-2e090dfc sc-fYiAbW iFAVee" data-pf-type="List"><li data-target="_self" class="pf-c1272997 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-1f23d580 sc-hGoxap dWevfJ" data-pf-type="Text">Dolce & Gabbana<br></span></li><li data-target="_self" class="pf-68eda12f animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-45b73e05 sc-hGoxap dWevfJ" data-pf-type="Text">Tom Ford<br></span></li><li data-target="_self" class="pf-a576fa5f animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-858db1d6 sc-hGoxap dWevfJ" data-pf-type="Text">Frey Wille<br></span></li><li data-target="_self" class="pf-f19a14ef animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-b387ddd5 sc-hGoxap dWevfJ" data-pf-type="Text">Katie Gallagher<br></span></li><li data-target="_self" class="pf-93a70487 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-a957fbe3 sc-hGoxap dWevfJ" data-pf-type="Text">John Galliano<br></span></li><li data-target="_self" class="pf-114f4f54 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-01b0e660 sc-hGoxap dWevfJ" data-pf-type="Text">Jean-Paul Gaultier<br></span></li><li data-target="_self" class="pf-f51f14f1 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-fb759200 sc-hGoxap dWevfJ" data-pf-type="Text">Gieves & Hawkes<br></span></li><li data-target="_self" class="pf-edc77910 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-97b2b942 sc-hGoxap dWevfJ" data-pf-type="Text">Giglio S.p.A<br></span></li><li data-target="_self" class="pf-6d224896 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-94b5da97 sc-hGoxap dWevfJ" data-pf-type="Text">Giusto Manetti Battiloro<br></span></li></ul></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-37667ebd sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-b4f9e70c sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-7e52d423 sc-hGoxap dWevfJ" data-pf-type="Text">ACCESSIBLE (<1.500$)</span></h3><ul class="pf-a0831818 sc-fYiAbW iFAVee" data-pf-type="List"><li data-target="_self" class="pf-f9807309 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-5405f0e9 sc-hGoxap dWevfJ" data-pf-type="Text">Marc Jacobs<br></span></li><li data-target="_self" class="pf-f433a7ca animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-1d19c9a2 sc-hGoxap dWevfJ" data-pf-type="Text">Jimmy Choo Ltd<br></span></li><li data-target="_self" class="pf-4856704a animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-becb8121 sc-hGoxap dWevfJ" data-pf-type="Text">Herbert Johnson<br></span></li><li data-target="_self" class="pf-06db948a animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-33d8bef7 sc-hGoxap dWevfJ" data-pf-type="Text">Christopher Kane<br></span></li><li data-target="_self" class="pf-7eccdb29 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-3991a1c3 sc-hGoxap dWevfJ" data-pf-type="Text">Kenzo<br></span></li><li data-target="_self" class="pf-f0256c8e animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-ab3601ae sc-hGoxap dWevfJ" data-pf-type="Text">Fendi<br></span></li><li data-target="_self" class="pf-d1cd66b3 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-1ff46c44 sc-hGoxap dWevfJ" data-pf-type="Text">Lacoste<br></span></li><li data-target="_self" class="pf-1a7f06b7 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-1ffca436 sc-hGoxap dWevfJ" data-pf-type="Text">Christian Lacroix<br></span></li><li data-target="_self" class="pf-3776b398 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-7cccf155 sc-hGoxap dWevfJ" data-pf-type="Text">Karl Lagerfeld<br></span></li><li data-target="_self" class="pf-2be653b4 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-5704e66d sc-hGoxap dWevfJ" data-pf-type="Text">Lagos<br></span></li></ul></div> </div></div><div class="pf-e1bf0928 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-78445b7a sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-8ae383bc sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-2c06a84b sc-hGoxap dWevfJ" data-pf-type="Text">PREMIUM (<5.000$)</span></h3><ul class="pf-b87a761b sc-fYiAbW iFAVee" data-pf-type="List"><li data-target="_self" class="pf-0f27bbdf animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-3f6506b6 sc-hGoxap dWevfJ" data-pf-type="Text">Mango<br></span></li><li data-target="_self" class="pf-84cf5dd0 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-008236a4 sc-hGoxap dWevfJ" data-pf-type="Text">Storets<br></span></li><li data-target="_self" class="pf-5112babc animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-feeb4e05 sc-hGoxap dWevfJ" data-pf-type="Text">Few Moda<br></span></li><li data-target="_self" class="pf-3f0f7d13 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-c2319b1b sc-hGoxap dWevfJ" data-pf-type="Text">H&M<br></span></li><li data-target="_self" class="pf-8192fcb0 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-24a12ba6 sc-hGoxap dWevfJ" data-pf-type="Text">Uniqlo<br></span></li><li data-target="_self" class="pf-69922702 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-03a3f45e sc-hGoxap dWevfJ" data-pf-type="Text">& Other Stories<br></span></li><li data-target="_self" class="pf-556a6ff9 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-ae30270c sc-hGoxap dWevfJ" data-pf-type="Text">River Island<br></span></li></ul></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-377e78df sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-7deae4f7 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-4ad8dfc5 sc-hGoxap dWevfJ" data-pf-type="Text">Supperpremium (<50.000$)</span></h3><ul class="pf-b6c7efad sc-fYiAbW iFAVee" data-pf-type="List"><li data-target="_self" class="pf-fc946f9d animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-689fe69e sc-hGoxap dWevfJ" data-pf-type="Text">Carrera<br></span></li><li data-target="_self" class="pf-d995cb4c animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-c8d2ca5e sc-hGoxap dWevfJ" data-pf-type="Text">Cartier<br></span></li><li data-target="_self" class="pf-410b3fb0 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-930a3331 sc-hGoxap dWevfJ" data-pf-type="Text">Dean and Dan Caten<br></span></li><li data-target="_self" class="pf-a5129622 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-da587e61 sc-hGoxap dWevfJ" data-pf-type="Text">Celine<br></span></li><li data-target="_self" class="pf-12075d91 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-73d1795a sc-hGoxap dWevfJ" data-pf-type="Text">Cerruti<br></span></li></ul></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-b50cac46 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-4d2d9307 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-3d452f71 sc-hGoxap dWevfJ" data-pf-type="Text">Extra high end (>50.000$)</span></h3><ul class="pf-b32eae48 sc-fYiAbW iFAVee" data-pf-type="List"><li data-target="_self" class="pf-7b0b6bcb animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-b62f9af3 sc-hGoxap dWevfJ" data-pf-type="Text">Jean-Paul Gaultier<br></span></li><li data-target="_self" class="pf-db1ff0bf animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-c398bc16 sc-hGoxap dWevfJ" data-pf-type="Text">Gieves & Hawkes<br></span></li><li data-target="_self" class="pf-f958bc68 animate-float sc-krvtoX gOBpdh" data-pf-type="List.Item"><span class="pf-3536cf12 sc-hGoxap dWevfJ" data-pf-type="Text">Giglio S.p.A<br></span></li></ul></div> </div><div class="pf-c pf-c-xs--6 pf-xs--hidden pf-c-sm--6 pf-sm--hidden pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-d26a6482 sc-cQFLBn efhDmd" data-pf-type="Column"></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.2/core/helper.js?t=2019-04-03-17" defer></script>